<form class="space-y-8 divide-y divide-gray-200 p-4" (ngSubmit)="addOffer(f)" #f="ngForm">
<div class="space-y-8 divide-y divide-gray-200">
    <div>
    

    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6" >
        
        <div class="sm:col-span-6">
            <label for="about" class="block text-sm font-medium text-gray-700">About</label>
            <div class="mt-1">
                <textarea id="about" ngModel name="description" rows="3" class="block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"></textarea>
            </div>
            <p class="mt-2 text-sm text-gray-500">Write a few sentences about the offer.</p>
        </div>

        
    </div>
    </div>

    <div class="pt-8">
    <div>
        <h3 class="text-lg font-medium leading-6 text-gray-900">Personal Information</h3>
        <p class="mt-1 text-sm text-gray-500">Use a permanent address where you can receive mail.</p>
    </div>
    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-3">
        <label for="title" class="block text-sm font-medium text-gray-700">title</label>
        <div class="mt-1">
            <input type="text" ngModel name="title" id="title" autocomplete="given-name" class="block w-full border py-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
        </div>
        </div>

        <div class="sm:col-span-3">
        <label for="profileRequired" class="block text-sm font-medium text-gray-700">profile Required</label>
        <div class="mt-1">
            <input type="text" ngModel name="profileRequired" id="profileRequired" autocomplete="family-name" class="block w-full border py-2  border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
        </div>
        </div>


        <div class="sm:col-span-3">
        <label for="country" class="block text-sm font-medium text-gray-700">Education Level</label>
        <div class="mt-1">
            <select id="country" ngModel name="educationLevel" autocomplete="country-name" class="block w-full border py-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
            <option disabled selected>Choose</option>
            <option value="not important">not important</option>
            <option value="Bac+2">Bac+2</option>
            <option value="Bac+3">Bac+3</option>
            <option value="Bac+5">Bac+5</option>
            </select>
        </div>
        </div>


        <div class="sm:col-span-2">
        <label for="city" class="block text-sm font-medium text-gray-700">City</label>
        <div class="mt-1">
            <input type="text" name="ville" id="city" autocomplete="address-level2" class="block w-full border py-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" ngModel/>
        </div>
        </div>

    </div>
    </div>
</div>

<div class="pt-5">
    <div class="flex justify-end">
    <span class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2">Cancel</span>
    
    <button 
    [ngClass]="buttonValue === 'Save' 
      ? ['bg-purple-600', 'hover:bg-purple-400', 'focus:ring-purple-500'] 
      : ['bg-green-600', 'hover:bg-green-400', 'focus:ring-green-500']"
    type="submit" 
    class="ml-3 inline-flex justify-center border border-transparent py-2 px-6 text-sm font-medium text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2">
    {{buttonValue}}
  </button>

</div>
</div>
</form>